// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

//Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.min.css";

/* body {
    background-color: #f4f8ff;
}
 */

.post-content pre {
    background-color: #8883;
    padding: 0.6em;
    border-radius: var(--bs-border-radius);
    overflow-y: visible;
}

.post-content pre code {
    color: var(--bs-code-color);
}

.post-content table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
}

.post-content blockquote {
    border-left: 4px solid var(--bs-border-color);
    padding: 1em;
}

.post-content blockquote p {
    margin: 0;
}
